<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.ethanchang.slideread" android:installLocation="auto" android:versionName="1.0a">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="Slide Read" android:theme="@style/MainTheme" android:icon="@drawable/SlideReadLogo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>